
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

td {padding: 10px;}

#popupTable {
    font-size: larger;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}



#map_97df312068c040e79d4274d90dd98ae2 {
    position: relative;
    width: 100.0%;
    height: 100.0%;
    left: 0.0%;
    top: 0.0%;
}




#float_image_fbfe4b9ec0934e3faa7c67e77e9ae670 {
    position: absolute;
    top: 20px;
    right: 20px;
}

#float_image_46e67336585e4951b6aa9d9425916df4 {
    position: absolute;
    top: 15px;
    left: 60px;
}

#legend {
    z-index: 999999999;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 300px;
    height: 200px;
    background-color:darkslategrey
  
}

table p {
    color: snow;
}


@media screen and (max-width: 900px) {
    #float_image_fbfe4b9ec0934e3faa7c67e77e9ae670 {
        height: 57px;
        width: 160px;
    }

    #float_image_46e67336585e4951b6aa9d9425916df4 {
        height: 43px;
        width: 149px;
    }
}
